{% load static %}<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'events.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Events</title>
  <style type="text/css">
    body {
      margin: 0 auto;
    }
    .infinite-item, .loading {
      margin-bottom: 5px;
      background-color: #1eaedb;
      color: #fff;
      text-align: center;
      padding: 25px 0;
    }
    .loading {
      background-color: #333;
    }
  </style>
</head>
<body>
  {% block content %}
  <div class="infinite-container">
    {% for events in list_events %}
      <div class="row">
          <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src={{events.image}} alt="Card image">
      <div class="card-body">
        <h5 class="card-title"> {{ events.judul_events }}</h5>
        <p class="card-text"> <small>{{ events.date_events }} <br>
        {{ events.venue_events|truncatechars:100 }}</small>
        </p>
        <a href="{{events.id}}" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
</div>

        <p>

        <p></p>
    {% endfor %}
  </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}
  {% endblock %}


  {% block javascript %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>{% endblock %}

</body>
</html>