{% load static %}<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'events.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Events</title>
</head>
<body>
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h1 style="color:red;"> {{ events.judul_events }}</h1><br><br>
    <img src="{{ events.image }}" height="400" width="800"><br><br>
        <h4>{{ events.desc_events }}</h4><br>
        <br>
        <center><h3>Detail</h3></center>
        <h4>Date : <br>{{ events.date_events }}</h4>
<br><br>
        <center><h3>Venue</h3></center>
        <h4>{{ events.venue_events }}</h4>
<br>
   <br>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3"><h1 >Other Events</h1>
    <br>
        <br>
    {% for events in list_events %}
       <a href="{{events.id}}">
  <img src={{events.image}}  height="200" width="200" />
</a>
        <br>  <br><br>

    {% endfor %}
    </div>
</div>

{% endblock %}
</body>
</html>
{%load static%}
