.container-fluid1 {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 12%;

  background: #41B3A3;
}

.joinUs1 {
  position: absolute;
  left: 12%;
  top: 20%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 4vw;

  color: #FFFFFF;
}

.joinUs2 {
  left: 13%;
  top: 35%;
  position: absolute;
  width: 132px;
  height: 145px;


  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 4vw;
  text-align: center;

color: #FFFFFF;
}

.joinUs3 {
position: absolute;
width: 132px;
height: 145px;
left: 13%;
top: 47%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.3vw;
text-align: center;

color: #FFFFFF;
}

.phone1{
position: absolute;
width: 20vw;
height: 23vw;
left: 52%;
top: 15%;

mix-blend-mode: darken;
}

.phone2{
position: absolute;
width: 20vw;
height: 23vw;
left: 70%;
top: 15%;

mix-blend-mode: darken;
transform: rotate(-180deg);
}

.button {
position: absolute;
width: 10vw;
height: 3.2vw;
left: 25%;
top: 38%;

background: #BC003E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-family: Heebo;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 2vw;
text-align: center;

color: #FFFFFF;
}

.container-fluid2 {
  position: absolute;
  width: 100%;
  height: 62%;
  top: 113%;

  background: #41B3A3;
}

.UI {
position: absolute;
width: 30vw;
left: 15%;
top: 7%;
}

.news1 {
position: absolute;
width: 40%;
left: 50%;
top: 7%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 2.7vw;

color: #BC003E;
}

.news2 {
position: absolute;
width: 40%;
left: 50%;
top: 30%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.5vw;

color: #000000;
}

.readmore {
position: absolute;
width: 10vw;
height: 2vw;
left: 50%;
top: 56%;

background: #BC003E;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.3vw;
text-align: center;

color: #FFFFFF;
}

.container-fluid3 {
  position: absolute;
  width: 98%;
  height: 62%;
  top: 173%;

  background: #41B3A3;
}

.events {
text-align: center;
font-family: Roboto;
font-style: italic;
font-weight: bold;
line-height: normal;
font-size: 2.7vw;

color: #BC003E;
}

.column {
  width: 25%;
  text-align: center;
}

.UI1 {
  width: 25.5vw;
}
