<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  {% block link %}{% endblock %}
  <title>{% block title %}Template{% endblock %}</title>
</head>
{% include 'navbar.html' %}
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
