
<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">{% endblock %}

{% block title %}STUDENT UNION - Homepage{% endblock %}

{% block content %}
  <div class="container-fluid1" style="background-color: #41B3A3;">

    <h1 class="joinUs1">STUDENT UNION</h1>
    <h2 class="joinUs2">120</h2>
    <h3 class="joinUs3">MEMBERS</h3>
    <a class="button" href="#" role="button">JOIN US</a>
    <img src="{% static 'phone.jpg' %}" class="phone1">
    <img src="{% static 'phone.jpg' %}" class="phone2">
  </div>

  <div class="container-fluid2" style="background-color: #FFFFFF;">
    <img src="{% static 'UI.jpg' %}" class="UI">
    <h1 class="news1">Berbela Rasa, UI Siap Terima Mahasiswa Tadulako Palu</h1>
    <h2 class="news2">Berbela Rasa, UI Siap Terima Mahasiswa Tadulako Palu ...  Reffely menyampaikan,
      adapun fakultas yang tersedia di UI adalah: ... diberikan kesabaran dan ketabahan serta keberlangsungan kegiatan belajar mengajar dapat ...</h2>
    <a class="readmore" href="#" role="button">READ MORE</a>
  </div>

  <div class="container-fluid3" style="background-color: #FFFFFF;">
    <h1 class="events"> Upcoming Events </h1>
    <br>
    <div class="row">
      <div class="column">
        <img src="{% static 'UI.jpg' %}" class="UI1">
      </div>
      <div class="column">
        <img src="{% static 'UI.jpg' %}" class="UI1">
      </div>
      <div class="column">
        <img src="{% static 'UI.jpg' %}" class="UI1">
      </div>
      <div class="column">
        <img src="{% static 'UI.jpg' %}" class="UI1">
      </div>
    </div>
  </div>
{% endblock %}
