{% extends 'base.html' %}
{% block title %}{{ news.judul_news }}{% endblock %}

{% block content %}
<h1> News </h1><br>
<div class="ui align left" style="margin-bottom:200px;">
{{ news.judul_news }}<br>
{{ news.date_news }}<br>
{{ news.desc_news }}<br>
<h5>Kategori : {{ news.categories_news}}<h5>
<h5>Sumber : {{ news.source_news}}<h5>
<img src="{{ news.image_news.url }}" height="300" width="300"><br>
</div>

{% endblock %}