{% extends 'base.html' %}
{% block title %}News{% endblock %}

{% block content %}
<h1> Ini News </h1><br>
<div class="ui align left" style="margin-bottom:200px;">
{% for news in list_news %}
<a href="id/{{news.id}}">{{ news.judul_news }}</a><br>
{{ news.date_news }}<br>
{{ news.desc_news }}<br><br>
{% endfor %}
</div>

{% endblock %}